<div>
<!-- 
    <pre style="text-align: left">{{ newCard | json }}</pre> -->

    <loader ng-show="submittingCard"></loader>

    <form name="newCardForm" ng-if="!submittingCard" ng-submit="newCardForm.$valid && submitNewCard(newCard)" novalidate>

        <error-message ng-show="newCardForm.$dirty && newCardForm.question.$error.required">
            Question is required.
        </error-message>
        <error-message ng-show="newCardForm.question.$error.minlength">
            Question is too short.
        </error-message>

        <input name="question" required ng-minlength="15" type="text" ng-model="newCard.question" /><br />

        <error-message ng-show="newCardForm.$submitted && newCardForm.category.$error.required">
            Category is required!
        </error-message>

        <select name="category" required ng-model="newCard.category">
            <option>MongoDB</option>
            <option>Express</option>
            <option>Angular</option>
            <option>Node</option>
        </select><br />

        <div ng-repeat="answer in newCard.answers">
            <input required name="answerText{{ $index + 1 }}" ng-maxlength="40" type="text" ng-model="answer.text" />
            <input type="checkbox" ng-model="answer.correct" />
        </div>

        <button type="submit">Manage old card!</button>

    </form>



</div>